<h1>{{ title }}</h1>
<a href="/addItemPage"><button>Add Item</button></a>
<table border="1">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Unit Type</th>
        </tr>
    </thead>
    <tbody>
        {{#each inventory}}
            <tr>
                <td>{{ this.item }}</td>
                <td>{{ this.quantity }}</td>
                <td>{{ this.unitType }}</td>
                <td><a href="/update/{{ this._id }}"><button>EDIT</button></a></td>
                <td><a href="/delete/{{ this._id }}"><button>DELETE</button></a></td>
            </tr>
            
        {{/each}}        
    </tbody>
</table>