<h1 id="invListTitle">{{ title }}</h1>
<h3>Signed in as: {{ email }} </h3>
<br>
<div id="signOutLogInBtn">    
    <a href="/login" id="logout"><button>Login</button></a>
    <a href="/logout" id="logout"><button>Sign Out</button></a>
</div>
<a href="/newForm"><button>NEW INVENTORY ORDER</button></a>
<a href="/"><button>Main Page</button></a>
<br>
<div>
    <table border="1" id="inventoryTable" class="table table-hover">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Unit Type</th>
        </tr>
    </thead>
    <ol>
    <tbody>
        {{#each inventory}}
            <tr>
                <td>{{ this.item }}</td>
                <td>{{ this.quantity }}</td>
                <td>{{ this.unitType }}</td>
                <td><a class="btn btn-primary" href="/update/{{ this._id }}">UPDATE</a></td>
                <td><a class="btn btn-danger btn-sm" href="/delete/{{ this._id }}">DELETE</a></td>
            </tr>            
        {{/each}}        
    </tbody>    
</div>
</table>
<br>
<a href="/addItemPage"><button>Add Item</button></a>
<br>
<br>
<br>