<h1>{{ title }}</h1>
<form action="/updatePage" method="POST">
    <label for="item">Item:</label>
    <div class="form-group">
        <input class="form-control" type="text" name="item" id="item" value="{{ inventory.item }}" readonly>
    </div>
    <label for="quantity">Quantity:</label>
    <div class="form-group">
        <input class="form-control" type="number" name="quantity" id="quantity" value="{{ inventory.quantity }}">
        </div>
    <label for="unitType">Unit Type:</label>
    <div class="form-group">
        <select class="form-control" name="unitType" id="unitType" value="{{ inventory.unitType }}">
            <option value="Cases">Cases</option>
            <option label="Pieces" value="Pieces"></option>
            <option value="Bags">Bags</option>
        </select>
    </div>
    <input type="hidden" name="id" value="{{ inventory._id }}">
    <div>
        <button type="submit">SUBMIT</button>
    </div>
</form>